{% extends 'app/dummy.html' %}
{% block title %}
    <title>login_user</title>
{% endblock %}

{% block body_block %}
<center>
    <div style="margin-top: 120px;">
<form method="POST">

    {% csrf_token %}
<div >
    <h2>Login Here</h2>
    <br>
		
    <div >
        <label for="username">username:</label>
            <input type="text" name="username" id="username"><br>
    </div >
    <br>
    <div >
        <label for="password">password</label>
            <input type="password" name="password" id="password"><br>

    </div >
    <br>
    <div >
    <input type="submit" value="Sign in" style="color: black;">
      </div>  
             
    </div>
</form>
</div>
</center>
{% endblock %}
